[safe]
	directory = /tmp/windmill/wk-default-devmachine-yNhrj/0198aaa5-57af-6e5a-6966-77b586739a06/empty3
	directory = /tmp/windmill/wk-default-devmachine-yNhrj/0198aaa6-4549-1996-5f57-e9e018da244e/empty3
